.track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  margin: 5px;
  padding: 3px;
  max-width: 900px;
}

.track_title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
}

.track_boxes {
  display: flex;
}
