.transport {
  font-weight: 800;
  display: flex;
  align-items: center;
}

.form_element {
  background: transparent;
  border: 1px;
  box-sizing: border-box;
  font-weight: 800;
  font-size: 10px;
  text-align: center;
  color: black;
}
